.what {
	padding: 100px 40px 40px 40px;
	height: 100%;
	width: 100%;
	background: rgb(144,44,255);
	background: linear-gradient(165deg, rgba(144,44,255,1) 0%, rgba(248,129,255,1) 100%);
	color: rgba(255, 255, 255, 0.95);
}
