.who {
	padding: 100px 40px 40px 40px;
	height: 100%;
	width: 100%;
	background: rgb(47,63,255);
	background: linear-gradient(165deg, rgba(47,63,255,1) 0%, rgba(93,112,244,1) 100%);
	color: rgba(255, 255, 255, 0.95);
}
